{% block inline_submit_widget -%}
    <div class="input-group">
        {{- block('form_widget_simple') -}}
        <div class="input-group-append">
            <button type="submit" class="{{ btnClass|default('btn btn-outline-primary') }}">{{ icon(btnIcon|default('paper-plane')) }} {{ btnText ? btnText|trans : '' }}</button>
        </div>
    </div>
{%- endblock inline_submit_widget %}
