{% extends 'base.html.twig' %}

{% block content %}
    <div class="container py-4">
        <div class="row">
            <div class="col-12 col-xl-8 offset-xl-2">
                <h2>
                    {{ icon('gavel') }}
                    {{ 'terms.header'|trans }}
                </h2>

                <p><em>{{ 'terms.lastUpdate'|trans }}</em></p>

                <p>{{ 'terms.intro'|trans({'%website%': app.request.host, '%operator%': 'main.author'|trans, '%email%': 'main.email'|trans})|raw }}</p>
                <p>{{ 'terms.agree'|trans }}</p>

                <h3>{{ 'terms.accounts.header'|trans }}</h3>
                <p>{{ 'terms.accounts.password'|trans }}</p>
                <p>{{ 'terms.accounts.terminate'|trans }}</p>

                <h3>{{ 'terms.content.header'|trans }}</h3>
                <p>{{ 'terms.content.license'|trans }}</p>
                <p>{{ 'terms.content.disclaimer'|trans }}</p>
                <p>{{ 'terms.content.forbidden'|trans }}</p>
                <p>{{ 'terms.content.responsibility'|trans }}</p>


                <h3>{{ 'terms.privacy.header'|trans }}</h3>
                <p>{{ 'terms.privacy.effort'|trans }}</p>
                <p>{{ 'terms.privacy.noPrivate'|trans }}</p>
                <p>{{ 'terms.privacy.cookies'|trans|raw }}</p>
                <p>{{ 'terms.privacy.edit'|trans }}</p>
                <p>{{ 'terms.privacy.analytics'|trans|raw }}</p>
                <p>{{ 'terms.privacy.embed'|trans|raw }}</p>
                <p>{{ 'terms.privacy.logsStorage'|trans }}</p>
                <p>{{ 'terms.privacy.gdpr'|trans }}</p>

                <h3>{{ 'terms.general.header'|trans }}</h3>
                <p>{{ 'terms.general.law'|trans }}</p>
                <p>{{ 'terms.general.modify'|trans }}</p>
            </div>
        </div>
    </div>
{% endblock %}
