{% extends 'base.html.twig' %}

{% block content %}
    <div class="container py-4">
        <div class="row">
            <div class="col-12 col-xl-8 offset-xl-2">
                <div class="d-flex justify-content-between">
                    <h2>
                        {{ icon('bell') }}
                        {{ 'notifications.header'|trans }}
                    </h2>
                    <span class="align-self-center">
                        <button data-notification-status="default" class="d-none btn btn-outline-primary">
                            {{ icon('bell-on') }}
                            {{ 'notifications.browser.default'|trans }}
                        </button>
                        <span data-notification-status="granted" class="d-none text-success">
                            {{ icon('check-circle') }}
                            {{ 'notifications.browser.granted'|trans }}
                        </span>
                        <span data-notification-status="denied" class="d-none text-muted">
                            {{ icon('times-circle') }}
                            {{ 'notifications.browser.denied'|trans }}
                        </span>
                    </span>
                </div>

                <div class="dropdown-menu show w-100 notification-list position-sticky">
                    {% for notification in app.user.notifications %}
                        {% include 'notification/single.html.twig' %}
                    {% else %}
                        <div class="dropdown-item disabled py-2">
                            {{ 'notifications.empty'|trans }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
