<a href="{{ notification.link }}" class="notification dropdown-item {% if not notification.isRead %}bg-info{% endif %} py-2 text-wrap">
    {{ ('notifications.' ~ notification.type)|trans(notification.params|parametrise)|entities|raw }}
    <small class="float-right ml-1">{{ notification.timestamp|relativeTime }}</small>
</a>
