{% extends 'base.html.twig' %}

{% block content %}
    <div class="container py-4">
        <h2 class="mb-3">
            {{ icon('users') }}
            {{ 'admin.users.header'|trans }}
        </h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th>{{ 'user.avatar.header'|trans }}</th>
                    <th>{{ 'user.username'|trans }}</th>
                    <th>{{ 'user.email'|trans }}</th>
                    <th>{{ 'admin.users.loginOptions'|trans }}</th>
                    <th></th>
                </tr>
                {% for user in users %}
                    <tr>
                        <td>
                            <img src="{{ avatar(user) }}" alt="{{ 'user.avatar.header'|trans }}" class="avatar rounded-circle h-2 mr-3 shadow"/>
                        </td>
                        <td>
                            {{ user.username }}
                        </td>
                        <td>
                            {{ user.email }}
                        </td>
                        <td>
                            <ul class="list-unstyled">
                                {% for provider in socialProviders %}
                                    {% set auth = user.authenticator(provider) %}
                                    {% if auth %}
                                        <li>
                                            {{ icon('brands ' ~ provider) }}
                                            {% include 'user/socialInfo.html.twig' %}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <a href="{{ path('app_user_account', {'_switch_user': user.username}) }}" class="btn btn-sm btn-outline-warning">
                                {{ icon('user-secret') }}
                                {{ 'admin.users.impersonate'|trans }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
