@font-face {
  font-family: 'Baloo Thambi 2';
  font-style: normal;
  font-weight: 400;
  src: local('Baloo Thambi 2 Regular'), local('BalooThambi2-Regular'),
  url('../fonts/BalooThambi2-Regular.woff2') format('woff2'),
  url('../fonts/BalooThambi2-Regular.woff') format('woff');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: local('JetBrans Mono Regular'), local('JetBransMono-Regular'),
  url('../fonts/JetBrainsMono-Regular.woff2') format('woff2'),
  url('../fonts/JetBrainsMono-Regular.woff') format('woff');
}
