$navbar-height: 56px;
html {
  scroll-behavior: smooth;
  scroll-padding-top: $navbar-height;
}
body {
  min-height: 100vh;
  padding-top: $navbar-height;
}
.navbar-brand {
  font-weight: bold;
  img {
    height: 1.4rem;
    position: relative;
    top: -.2rem;
  }
}
pre {
  background: $gray-100;
  padding: $spacer;
  border: $border-width $border-color solid;
}
.input-code {
  font-size: 2.5rem;
  letter-spacing: .75rem;
}
.h-1 {
  height: 1.5rem;
}
.h-2 {
  height: 2.5rem;
}
.h-3 {
  height: 3.5rem;
}

@include media-breakpoint-up(sm) {
  .dropdown-menu-wide {
    min-width: 30rem;
  }
}
