{% apply inline_css(source('@email/email.css')) %}
<div class="card m-4">
    <div class="card-header">
        <p class="h3 mb-0">
            <a href="{{ baseUrl }}" target="_blank" rel="noopener">
                <img src="cid:logo">
                {{ 'main.title'|trans }}
                <small>• {{ 'main.slogan'|trans }}</small>
            </a>
        </p>
    </div>
    <div class="card-body">
        {% block body %}{% endblock %}
    </div>
    <div class="card-footer">
        {% block footer %}{% endblock %}
    </div>
</div>
{% endapply %}
