{% extends 'emails/base.html.twig' %}

{% block body %}
    <div class="text-center">
        <p>
            {{ 'email.login.content'|trans }}
        </p>
        <p class="form-control form-control-lg input-code text-dark">
            {{ code }}
        </p>
    </div>
{% endblock %}

{% block footer %}
    <p class="small mb-0">
        {{ 'user.login.code.validity'|trans }}
        {{ 'email.ignore'|trans }}
    </p>
{% endblock %}
