{% extends 'emails/base.txt.twig' %}

{% block body %}
{{ 'email.login.content'|trans }}

{{ code }}
{% endblock %}

{% block footer %}
{{ 'user.login.code.validity'|trans }}
{{ 'email.ignore'|trans }}
{% endblock %}
