{% for type, messages in app.session.flashBag.all %}
    {% for message in messages %}
        <div class="container mt-4">
            <div class="alert alert-{{ type }}">
                {{ message }}
            </div>
        </div>
    {% endfor %}
{% endfor %}
