<footer class="bg-light border-top px-2 py-4">
    <div class="container">
        <ul class="list-inline mb-0">
            <li class="list-inline-item my-2 mr-3">
                {% apply twemoji %}
                    Made with ❤️ by
                    {{ 'main.author'|trans }}
                {% endapply %}
            </li>
            <li class="list-inline-item my-2 mr-3">
                <a href="https://avris.it" target="_blank" rel="noopener">
                    {{ icon('globe-europe') }}
                    avris.it
                </a>
            </li>
            <li class="list-inline-item my-2 mr-3">
                <a href="{{ path('app_home_terms') }}">
                    {{ icon('gavel') }}
                    {{ 'terms.header'|trans }}
                </a>
            </li>
            <li class="list-inline-item my-2 mr-3">
                <a href="https://mit.avris.it" target="_blank" rel="noopener">
                    {{ icon('file-certificate') }}
                    MIT
                </a>
            </li>
            <li class="list-inline-item my-2 mr-3">
                <a href="https://gitlab.com/Avris/Booster" target="_blank" rel="noopener">
                    {{ icon('brands gitlab') }}
                    Gitab
                </a>
            </li>
            <li class="list-inline-item my-2 mr-3">
                {{ icon('beer') }}
                {{ 'main.donate'|trans }}:
            </li>
            <li class="list-inline-item my-2 mr-3">
                <a href="https://paypal.me/AndreAvris" target="_blank" rel="noopener">
                    {{ icon('brands paypal') }}
                    PayPal
                </a>
            </li>
            <li class="list-inline-item my-2 mr-3">
                <a href="https://www.blockchain.com/btc/address/155pGeHNCu4wzxHZwW3JzzZeDonkbi2jnE" target="_blank" rel="noopener">
                    {{ icon('brands bitcoin') }}
                    Bitcoin
                </a>
            </li>
        </ul>
        <p class="small mb-0">
            Built using
            <a href="https://symfony.com/" target="_blank" rel="noopener">Symfony</a>,
            <a href="https://getbootstrap.com/" target="_blank" rel="noopener">Bootstrap</a>,
            <a href="https://gitlab.com/Avris/Vanillin" target="_blank" rel="noopener">Vanillin</a>,
            <a href="https://fontawesome.com/" target="_blank" rel="noopener">Font Awesome</a>,
            <a href="https://fonts.google.com/specimen/Baloo+Thambi+2" target="_blank" rel="noopener">Baloo Thambi 2</a>,
            <a href="https://www.jetbrains.com/lp/mono/" target="_blank" rel="noopener">JetBrains Mono</a>,
            <a href="https://github.com/twitter/twemoji" target="_blank" rel="noopener">Twemoji</a>,
            and sound by <a href="https://freesound.org/people/Aiwha/sounds/196106/" target="_blank">Aiwha</a>.
        </p>
    </div>
</footer>
