<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top shadow">
    <div class="container">
    <a class="navbar-brand" href="{{ path('app_home_index') }}">
        <img src="{{ asset('build/images/logoWhite.svg') }}" alt=""/>
        {{ 'main.title'|trans }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% for link in [
                {'route': 'app_home_index', 'text': 'home.header', 'icon': 'home'},
                {'route': 'app_home_terms', 'text': 'link.header', 'icon': 'link'},
                {'route': 'app_admin_users', 'text': 'admin.users.header', 'icon': 'users', 'role': 'ROLE_ADMIN'},
            ] %}
                {% if not link.role|default or is_granted(link.role) %}
                    <li class="nav-item {% if app.request.attributes.get('_route') == link.route  %}active{% endif %}">
                        <a class="nav-link" href="{{ path(link.route) }}">
                            {{ icon(link.icon) }}
                            {{ link.text|trans }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% apply twemoji %}
                        {{ flag(locales[app.request.locale].flag) }}
                    {% endapply %}
                    <span class="d-inline d-lg-none">
                        {{ locales[app.request.locale].name }}
                    </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    {% for code, locale in locales %}
                        <a class="dropdown-item {% if code == app.request.locale %}disabled{% endif %}" href="{{ path('app_home_locale', {locale: code}) }}">
                            {% apply twemoji %}
                                {{ flag(locale.flag) }}
                            {% endapply %}
                            {{ locale.name }}
                        </a>
                    {% endfor %}
                </div>
            </li>
            {% if app.user %}
                <li class="nav-item dropdown">
                    {% set notificationCount = app.user.countUnreadNotifications %}
                    <a class="nav-link dropdown-toggle {% if notificationCount > 0 %}active{% endif %}" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-persist="true">
                        {{ icon('bell') }}
                        <span class="notification-count">
                            {{ notificationCount }}
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-wide notification-list">
                        {% for notification in app.user.notifications.slice(0, 10) %}
                            {% include 'notification/single.html.twig' %}
                        {% else %}
                            <div class="dropdown-item disabled py-2">
                                {{ 'notifications.empty'|trans }}
                            </div>
                        {% endfor %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('app_notification_index') }}">
                            {{ icon('bells') }}
                            {{ 'notifications.all'|trans }}
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-persist="true">
                        <img src="{{ avatar(app.user) }}" alt="{{ 'user.avatar.header'|trans }}" class="rounded-circle h-1 mr-2 shadow"/>
                        {{ app.user.username }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="{{ path('app_user_account' )}}">
                            {{ icon('user') }}
                            {{ 'user.account.header'|trans }}
                        </a>
                        <div class="dropdown-divider"></div>
                        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                            <a class="dropdown-item" href="{{ path('app_admin_users', {'_switch_user': '_exit'}) }}">
                                {{ icon('user-secret') }}
                                {{ 'admin.users.impersonateExit'|trans }}
                            </a>
                        {% endif %}
                        <a class="dropdown-item" href="{{ path('app_user_logout') }}">
                            {{ icon('sign-out') }}
                            {{ 'user.logout.header'|trans }}
                        </a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-persist="true">
                        {{ icon('sign-in') }}
                        {{ 'user.login.header'|trans }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-wide">
                        <div class="px-4 py-3">
                            {{ render(controller('App\\Controller\\UserController:loginForm')) }}
                        </div>
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
    </div>
</nav>
