{% extends 'base.html.twig' %}

{% block content %}
    <div class="container my-4">
        <h2>
            {{ icon('traffic-light-stop') }}
            {{ 'error.denied.header'|trans }}
        </h2>

        <p>{{ 'error.denied.description'|trans({'%home%': path('app_home_index')})|raw }}</p>
    </div>
{% endblock %}
