{% extends 'base.html.twig' %}

{% block content %}
    <div class="container my-4">
        <h2>
            {{ icon('bug') }}
            {{ 'error.server.header'|trans }}
        </h2>

        <p>{{ 'error.server.description'|trans({'%home%': path('app_home_index')})|raw }}</p>
    </div>
{% endblock %}
