{% extends 'base.html.twig' %}

{% block content %}
    <div class="container py-4">
        <div class="row">
            <div class="col-12 col-xl-8 offset-xl-2">
                <h2>
                    {{ icon('user') }}
                    {{ 'user.account.header'|trans }}
                </h2>

                <div class="card mt-4">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item py-4 bg-light">
                            <div class="d-flex">
                                <img src="{{ avatar(app.user) }}" alt="{{ 'user.avatar.header'|trans }}" class="avatar rounded-circle h-3 mr-3 shadow"/>
                                <span class="h1 align-self-center mb-0">
                                    <strong>{{ app.user.username }}</strong>
                                </span>
                            </div>
                        </li>
                        <li class="list-group-item py-4">
                            <h3 class="mb-3">
                                {{ icon('envelope') }}
                                {{ app.user.email }}
                            </h3>
                            {{ form(emailForm) }}
                            <div class="btn-group btn-block" role="group">
                                <a href="{{ path('app_user_selectavatar', {source: 'gravatar'}) }}" class="btn btn-outline-secondary">
                                    <img src="{{ avatar(app.user, '') }}" alt="{{ 'user.avatar.header'|trans }}" class="rounded-circle h-1 mx-2 shadow"/>
                                    {{ 'user.avatar.select'|trans }}
                                </a>
                                <a href="https://gravatar.com/" target="_blank" rel="noopener" class="btn btn-outline-secondary">
                                    <img src="https://gravatar.com/favicon.ico" class="h-1 mx-2" alt="">
                                    {{ 'user.avatar.gravatar'|trans }}
                                </a>
                            </div>
                        </li>
                        {% for provider in socialProviders %}
                            <li class="list-group-item py-4">
                                <h3 class="mb-3">
                                    {{ icon('brands ' ~ provider) }}
                                    {{ provider|capitalize }}
                                </h3>
                                {% set auth = app.user.authenticator(provider) %}
                                {% if auth %}
                                    <p>
                                        {% include 'user/socialInfo.html.twig' %}
                                    </p>
                                    <div class="btn-group btn-block" role="group">
                                        <a href="{{ path('app_user_selectavatar', {source: provider}) }}" class="btn btn-outline-secondary">
                                            <img src="{{ avatar(app.user, provider) }}" alt="{{ 'user.avatar.header'|trans }}" class="rounded-circle h-1 mx-2 shadow"/>
                                            {{ 'user.avatar.select'|trans }}
                                        </a>
                                        <a href="{{ path('app_user_loginsocial', {provider: provider}) }}" class="btn btn-outline-secondary">
                                            {{ icon('sync') }}
                                            {{ 'user.social.refresh'|trans }}
                                        </a>
                                        <a href="{{ path('app_user_disconnect', {provider: provider}) }}" class="btn btn-outline-danger">
                                            {{ icon('trash') }}
                                            {{ 'user.social.disconnect'|trans }}
                                        </a>
                                    </div>
                                {% else %}
                                    <a href="{{ path('app_user_loginsocial', {provider: provider}) }}" class="btn btn-outline-secondary btn-block">
                                        {{ icon('sync') }}
                                        {{ 'user.social.connect'|trans }}
                                    </a>
                                {% endif %}
                            </li>
                        {% endfor %}
                        <li class="list-group-item py-4">
                            <h3 class="mb-3">
                                {{ icon('shield-check') }}
                                {{ 'user.mfa.header'|trans }}
                            </h3>
                            {% set auth = app.user.authenticator('mfa') %}
                            {% if auth %}
                                <p class="text-success">
                                    {{ icon('check-circle') }}
                                    {{ 'user.mfa.setUp'|trans }}
                                </p>
                                <a href="{{ path('app_user_disconnect', {provider: 'mfa'}) }}" class="btn btn-outline-danger btn-block">
                                    {{ icon('trash') }}
                                    {{ 'user.mfa.disable'|trans }}
                                </a>
                            {% else %}
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <p>{{ 'user.mfa.start'|trans|raw }}</p>
                                        {{ form(mfaForm) }}
                                    </div>
                                    <div class="col-12 col-lg-6 text-center">
                                        <img src="{{ mfaQr }}" alt="{{ mfaSecret }}"/>
                                        <br/>
                                        ({{ mfaSecret }})
                                    </div>
                                </div>
                            {% endif %}
                        </li>
                        <li class="list-group-item py-4">
                            {{ form(deleteForm) }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
