{% extends 'base.html.twig' %}

{% block content %}
    <div class="container py-4">
        <div class="row">
            <div class="col-12 col-xl-8 offset-xl-2">
                <h2 class="mb-3">
                    {{ icon('sign-in') }}
                    {{ 'user.login.header'|trans }}
                </h2>

                <div class="alert alert-info">
                    <p class="mb-0">
                        {{ icon('info-circle') }}
                        {{ 'user.login.code.instruction'|trans }}
                        <br/>
                        {{ 'user.login.code.validity'|trans }}
                    </p>
                </div>

                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
