<div class="btn-group btn-block mb-3" role="group">
    {% for provider in socialProviders %}
        <a href="{{ path('app_user_loginsocial', {'provider': provider}) }}" class="btn btn-outline-primary btn-lg">
            {{ icon('brands ' ~ provider) }}
            {{ provider|capitalize }}
        </a>
    {% endfor %}
</div>

<p>
    {{ 'user.login.traditional'|trans }}
</p>

{{ form(form, {action: path('app_user_login')}) }}
