{% extends 'base.html.twig' %}

{% block content %}
    <div class="container py-4">
        <div class="row">
            <div class="col-12 col-xl-8 offset-xl-2">
                <h2 class="mb-3">
                    {{ icon('shield-check') }}
                    {{ 'user.mfa.header'|trans }}
                </h2>

                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
