{% extends 'base.html.twig' %}

{% block content %}
    <div class="container py-4">
        <div class="row">
            <div class="col-12 col-xl-8 offset-xl-2">
                <h2>
                    {{ icon('user-plus') }}
                    {{ 'user.registration.header'|trans }}
                </h2>

                <div class="alert alert-info">
                    <p class="mb-0">
                        {{ icon('info-circle') }}
                        {{ 'user.registration.intruction'|trans({'%tos%': '<a href="' ~ path('app_home_terms') ~ '" target="_blank" rel="noopener">' ~ icon('gavel') ~ ' ' ~ ('terms.header'|trans) ~ '</a>'})|raw }}
                    </p>
                </div>

                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
