{% apply twemoji %}
    {{ auth.payload.name }}
{% endapply %}
{% if auth.payload.username %}
    <small class="ml-2">
        ({{ auth.payload.username }})
    </small>
{% endif %}
<small class="ml-2">
    {{ auth.payload.email }}
</small>
